.primerBloque {
    position:relative;
}

.primerBloque::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./images/ba1.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(80%);
    z-index: -1;
}

.primerBloque {
    box-shadow: 0 .5rem 1rem rgba(black, .15);
}

.pieDePagina{
    background-color: rgb(1, 16, 85);
}

